#menu{
    list-style-type: none;
    background-color: rgb(175, 173, 173);
}
#menu li {
  display: inline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
#menu li a {
      display: inline;
      padding:  20px;
      color: whitesmoke;
      text-decoration: none;
      display: inline-block;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#menu li a:hover {
      background-color: gray;
}
#contato{
      padding: 15px;
      margin-top: 10px;
}
#contato a{
      text-decoration: none;
      color: black;
}
.lojas{
      color: black;
}
h5{
      color: black;
}
p{
      color: black;
}